body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .conatiner {
    margin: 0;
  }

  .top {
    background-color: #1F2937;
    color: white;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
  }

  .main-text {
    margin: 0;
    font-size: 4rem;
    font-weight: bolder;
    color: #F9FAF8;
  }

  .secondary-text {
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
    color: #E5E7EB;
  }

  ul{
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .top-content {
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    margin-right: 180px;
    padding: 80px 0px;
  }

  .web-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
  }

  .image {
    display: flex;
    max-width: 100%; /* Adjust the max-width as needed */
    flex-grow: 0.5; /* Allow the image to grow within the flex container */
    flex-shrink: 1;
    max-height: 250px;
    flex-basis: 400px; /* Adjust the initial size as needed */
    object-fit: cover;
  }

  .signup-button {
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
  }

  .random-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
  }

  .image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 50px;
  }

  .first-image,
  .second-image, 
  .third-image, 
  .fourth-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
  }

  .first-image > p {
    text-align: center;
  }
  .second-image > p {
    text-align: center;
  }
  .third-image > p {
    text-align: center;
  }
  .fourth-image > p {
    text-align: center;
  }

  .image-row p {
    max-width: 77%;
    margin-top: 5px;
  }

  .image-row img {
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
    width: 200px;
  }

  .quote-section {
    margin-top: 40px;
    background-color: #E5E7EB;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .quote-section .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 50vw;
  }

  .quote-section .author {
    margin: 0;
    font-weight: bold;
    position: relative;
    margin-left: 35vw;
  }

  .last-second {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .blue-paragraph-content > p{
    margin: 0;
  }

  .blue-paragraph {
    width: 70vw;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
  }

  .call-text,
  .sign-up-text {
    color: white;
  }

  .call-text {
    font-weight: bold;
  }

  .last-button {
    margin: 0;
    border: none;
    align-self: center;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid white;
  }

  .footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: center;
  }

  