body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background-color: #f0f0f0;
  background: linear-gradient(135deg, #d979ef, #ffb6c1, #87ceeb);
}

h1 {
  font-size: 50px;
  margin-bottom: 3rem;
  margin-top: 3.5rem;
  text-align: center;
}

h2 {
  margin: 0;
  display: flex;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.winnerSymbol {
  color: blue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem;
  grid-column-gap: 2rem;
}

.reload {
  position: absolute;
  right: 30px;
  top: 0px;
  font-family: Lucida Sans Unicode;
  font-size: 70px;
  cursor: pointer;
}

.reload:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tic-tac-toe {
  background: linear-gradient(135deg, #d979ef, #ffb6c1, #87ceeb);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 50px;
  width: 450px;
  height: 450px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background-color: #eee;
  color: green;
  cursor: pointer;
}

.animateCell {
  animation-name: animateCell;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes animateCell {
  0% {
    font-size: 0;
  }
  60% {
    font-size: 6.5em;
  }
  100% {
    font-size: 4em;
  }
}

.who-won {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.2rem;
  color: green;
}

.cell:nth-child(3n + 1) {
  border-right: 3px double gray;
}

.cell:nth-child(-n + 6) {
  border-bottom: 3px double gray;
}

.cell:nth-child(3n) {
  border-left: 3px double gray;
}

.cell:hover {
  background-color: #ddd;
}

.cell.disabled {
  pointer-events: none;
}

.note {
  color: black;
  opacity: 0.4;
  margin-top: 1.5rem;
  text-align: center;
}

.selection {
  position: relative;
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
  gap: 2rem;
  margin-top: 14rem;
}

.selection-note {
  color: black;
  opacity: 0.4;
  font-size: 1rem;
  margin-top: -10px;
}

.next-round-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2.5rem;
  max-width: 9rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.next-round-btn:hover {
  background-color: #45a049;
}

.score-board-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  margin-left: 6rem;
}

.round-note {
  font-size: 13px;
  font-weight: 100;
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  color: gray;
}

.round-count {
  position: relative;
  margin-left: 5px;
}

.playerx {
  color: rgb(239, 79, 58);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.playero {
  color: rgb(115, 0, 255);
  font-size: 1.2rem;
}
